*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #548657;
    text-align: center;


}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset{
    border-radius: 17%;
    background-color: black;
    color: aliceblue;
    height: 9vmin;
    width: 15vmin;

}
#new_game{
     border-radius: 17%;
    background-color: black;
    color: aliceblue;
    height: 9vmin;
    width: 15vmin;

}
#msg{
    font-size: 8vmin;
    color: #b0413e;

}
.msg-container{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}